.app-info
  @include background__primary
  height: 689px
  padding-top: 72px

  &-wrap
    text-align: center

    &__header
      @include font('Circe')
      @include font-size(40px, 800)
      color: $text-color__secondary
