.app-personalisation
  @include background__secondary
  height: 689px

  &-wrap
    margin-right: 120px
    display: flex
    justify-content: right
    align-items: center

    .app-personalisation-content
      width: 515px