@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap')

*
  box-sizing: border-box

p
  margin: 0

body
  margin: 0
  @include font

  .slider-wrap
    display: flex
    gap: 25px
    overflow-x: scroll


  .content-header
    @include font('Circe')
    @include font-size(24px, 700)
    color: $text-color__secondary
    margin-bottom: 4px

  .content-text
    @include font('Circe')
    color: $text-color__secondary

  .content-line__primary, .content-line__secondary
    height: 0
    border: $border__primary
    opacity: $border-opacity
    margin: 16px 0

  .content-line__primary
    width: 398px

  .content-line__secondary
    width: 515px

  .subheader
    @include font-size(12px)
    color: $text-color__primary
    text-transform: uppercase

  .subheader-color
    color: $text-color__third

  .headers-color
    color: $text-color__third

  .text-content-color
    color: $text-color__fourth

  .container
    margin: 0 auto
    width: 1440px
    @import "blocks/upper-banner"
    @import "blocks/text-banner"
    @import "blocks/client-info"
    @import "blocks/app-personalisation"
    @import "blocks/app-info"
    @import "blocks/control-panel"
    @import "blocks/integration"
    @import "blocks/additional"